<div class="comment" id=<%= "comment_#{comment.id}" %>>
    <div class="comment-header">
        <%= comment.user.display_name %>
        <div class="comment-likes">
            <%= render "likes/comment_likes", parent: comment %>
        </div>
    </div>
    <div class="comment-body">
        <%= comment.body %>
    </div>
</div>