<div id=<%= "post_like_#{parent.id}" %>>
    <% like = Like.find_by(user_id: current_user.id) %>
    <% if like %>
        <%= link_to image_tag("thumb_up", alt: "Like Post"), post_like_path(parent, like), data: { "turbo-method": :delete } %>
    <% else %>
        <%= link_to image_tag("thumb_up", alt: "Like Post"), post_likes_path(parent), data: { "turbo-method": :post } %>
    <% end %>
    <div class="likes-count"><%= parent.likes.count.to_s %></div>
</div>
