<div id=<%= "post_like_#{post.id}" %>>
    <% like = post.likes.find_by(user_id: current_user.id) %>
    <% if like %>
        <%= link_to image_tag("thumb_up", alt: "Like Post"), post_like_path(post, like), data: { "turbo-method": :delete } %>
    <% else %>
        <%= link_to image_tag("thumb_up", alt: "Like Post"), post_likes_path(post), data: { "turbo-method": :post } %>
    <% end %>
    <div class="likes-count"><%= post.likes.count.to_s %></div>
</div>
