<table>
    <% @users.each do |user| %>
        <tr>
            <td>user</td>
            <td><%= link_to "Send Invite", friend_invitations_path, data: { 'turbo-method': :put } %></td>
        </tr>
    <% end %>
</table>