<div class="invitations-container">
    <div class="label">Friend Invitations</div>
    <% @users.each do |user| %>
        <div class="invitation">
            <%= user.display_name %>
            <%= link_to "Send Invite", friend_invitations_path, data: { 'turbo-method': :put } %>
        </div>
    <% end %>
</div>