<div class="invitations-container">
    <div class="label">Friend Invitations</div>
    <% @users.each do |user| %>
        <div class="invitation">
            <%= user.display_name %>

            
            <% if user.received_invitations.where(sender_id: current_user.id).any? %> 
                <%= content_tag(:div, "Invitation Sent") %>
            <% else %>
                <%= link_to "Send Invite", friend_invitations_path(recipient: user.id), data: { 'turbo-method': :post } %>
            <% end %>
        </div>
    <% end %>
</div>