<div class="user-information-container">
    <div class="header">My Information</div>
    <div class="information">
        <div>Email:</div>
        <div><%= @user.email %></div>
    </div>
    <div class="information">
        <div>First Name:</div>
        <div><%= @user.user_information.first_name %></div>
    </div>
    <div class="information">
        <div>Last Name:</div>
        <div><%= @user.user_information.last_name %></div>
    </div>
</div>
    
<div class="user-posts-container">
    <div class="header">My Posts</div>
</div>