<!-- Active and Pending Friend Invites -->
<h1>Active Friends</h1>
<ul>
    <% @active_friendships.each do |friendship| %>
        <li><%= friendship.friend.display_name %></li>
    <% end %>
</ul>


<h1>Pending Friend Invitations</h1>
<table>
    <% current_user.received_invitations.each do |invitation| %>
        <tr>
            <td>invitation</td>
        </tr>
    <% end %>
</table>
    