<!-- Active and Pending Friend Invites -->
<h1>Active Friends</h1>
<ul>
    <% @active_friendships.each do |friendship| %>
        <li><%= friendship.friend.display_name %></li>
    <% end %>
</ul>


<h1>Pending Friend Invitations</h1>
<table>
    <% @pending_friendships.each do |friendship| %>
        <% invitation_sender = friendship.user %>
        <tr>
            <td>
                <%= invitation_sender.email %>
            </td>
            <td>
                <%= link_to 'Accept Invitation', friendship_path(friendship, friend_id: invitation_sender.id), data: { 'turbo-method': :put } %>
            </td>
        </tr>
    <% end %>
</table>
    