<!-- Active and Pending Friend Invites -->
<h1>Active Friends</h1>
<ul>
    <% @active_friendships.each do |friendship| %>
        <li><% friendship.email %></li>
    <% end %>
</ul>


<h1>Pending Friend Invitations</h1>
<table>
    <% @pending_friendships.each do |friendship| %>
        <% friend = friendship.friend %>
        <tr>
            <td>
                <%= friend.email %>
            </td>
            <td>
                <%= link_to 'Accept Invitation', friendship_path(current_user, friend_id: friend.id), data: { 'turbo-method': :put } %>
            </td>
        </tr>
    <% end %>
</table>
    