<%= render "shared/errors", post: @post %>
<%= render "new_post" %>

<div class="posts-container">
    <% @posts.each do |post| %>
        <div class="post">
            <%= render "post", post: post %>
            <%= render "comments/new_comment", comment: @comment, post: post %>
        </div>
    <% end %>
</div>