<!-- <turbo-frame id="post-form" src=<%= new_post_path %>></turbo-frame>-->
<%= render "new_post" %>

<h1>Posts:</h1>
<div class="posts-container">
    <%= render partial: "post", collection: @posts %>
</div>