<!-- Form for Post -->
<turbo-frame id="post_form">
    <%= form_with model: @post do |form| %>
        <div class="input_container">
            <%= form.text_area :body, placeholder: "Write some thoughts" %>
        </div>
        
        <%= form.button "Post" %>
    <% end %>
</turbo-frame>