<!-- Form for Post -->
<turbo-frame id="post-form">
    <%= form_with model: @post do |form| %>
        <div class="input-container">
            <%= form.text_area :body, placeholder: "Write some thoughts" %>
        </div>
        
        <%= form.button "Post" %>
    <% end %>
</turbo-frame>