.active-friends {
    grid-column: span 2;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-right: 3px solid var(--ruby-red);
}

.active-friends > div {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.active-friends li {
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 18px;
}

.pending-invitations {
    grid-column: span 2;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.pending-invitations > div {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pending-invitations td {
    font-size: 18px;
}

.invitations-container {
    grid-column: 2 / 4;
    grid-row: span 2;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invitations-container .label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.invitation {
    font-size: 18px;
    width: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}