.posts-container {
    grid-column: 1 / -1;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.post {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: 2 / 6;
    border: 1px solid green;
}