.user-information-container {
    grid-column: span 1;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 20px;
    height: max-content;
    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-information-container #profile-picture-frame {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.user-information-container img {
    width: 200px;
    height: 200px;
}

#user-information-frame {
    width: 100%;
}

#user-information-frame input[type="submit"] {
    margin-top: 15px;
    padding: 3px;
    border-color: var(--ruby-red);
}

.inner-information {
    border: 3px solid var(--ruby-red);
    padding: 10px;
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information:not(:first-child) {
    margin-top: 15px;
}

.inner-information > a {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 5px 0px 0px;
}

.user-posts-container {
    grid-column: span 3;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-container.user-posts-container {
    border: 0px;
}

.user-posts-container .header {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.user-posts-container .post {
    width: 75%;
}

