.user-information-container {
    grid-column: span 1;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 20px;
    height: max-content;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-information-container #profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-container {
    transform: scale(2);
}

.user-information-container form {
    display: flex;
}

.user-information-container input {
    height: 25px;
    border-radius: 3px;
    border-color: var(--ruby-red);
    font-size: 12px;
    padding: 3px;
    width: fit-content;
}

.inner-information {
    border: 3px solid var(--ruby-red);
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information:not(:first-child) {
    margin-top: 15px;
}

.user-posts-container {
    grid-column: span 3;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-container.user-posts-container {
    border: 0px;
}

.user-posts-container .header {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.user-posts-container .post {
    width: 75%;
}

